<jp-content-overlay id="blogs" layout="column" [title]="'Our Blog'" jp-infinite-scroll-container #container>
	<md-toolbar id="filters" class="overlay-toolbar transparent">
		<h4 class="light text-uppercase">Filter By:</h4>
		<div class="filters-buttonset" layout="row" flex jp-icon-buttonset>
			<jp-icon-button class="horizontal publishing blue" (click)="filterByDivision('publishing', $event)" [class.active]="divisionFilter === 'publishing'">
				<jp-icon-button-text>Publishing</jp-icon-button-text>
				<jp-icon></jp-icon>
				<jp-icon-hover></jp-icon-hover>
			</jp-icon-button>
			<jp-icon-button class="horizontal creative yellow" (click)="filterByDivision('creative', $event)" [class.active]="divisionFilter === 'creative'">
				<jp-icon-button-text>Creative</jp-icon-button-text>
				<jp-icon></jp-icon>
				<jp-icon-hover></jp-icon-hover>
			</jp-icon-button>
			<jp-icon-button class="horizontal interactive fuchsia" (click)="filterByDivision('interactive', $event)" [class.active]="divisionFilter === 'interactive'">
				<jp-icon-button-text>Interactive</jp-icon-button-text>
				<jp-icon></jp-icon>
				<jp-icon-hover></jp-icon-hover>
			</jp-icon-button>
		</div>
	</md-toolbar>
	<div class="content" *ngIf="blogs">
	<!-- <md-content layout="row" layout-wrap ng-cloak jp-infinite-scroll [container]="container" (prefetch)="prefetchMoreBlogs()" (render)="renderMoreBlogs()" class="blogs-list grid"> -->
		<jp-post *ngFor="let blog of blogs.blogs" 
			[image]="blog.image.url" 
			[title]="blog.title" 
			[text]="blog.summary" 
			[longText]="blog.body" 
			[date]="blog.created_at" 
			[tag]="blog.divisions[0].name" 
			[author]="blog.author" 
			[routerLink]="['../Blog', {'identifier': blog.identifier}]"
			[animateIn]="blog.animateIn"
			class="cell">
		</jp-post>
    <!-- </md-content> -->
  </div>
  <div class="button-container" [hidden]="finished">
  	<button md-button class="load-more inverted-button" (click)="more()">Load More</button>
  </div>
	<div class="infinite-scroll-finished full-width" [hidden]="!finished">
		<md-icon>receipt</md-icon><div>End of Content</div>
	</div>
</jp-content-overlay>