:host {
	display: block;
	.gallery-wrapper {
		padding-bottom: 5em;
	}
	.layout-sidebar {
		.right {
			text-align: right;
		}
	}
	jp-pager {
		.jp-pager-nav-container {
			width: 85%;
			left: 7.5%;
			margin-left: 0;
		}
	}
	.body {
		padding-bottom: 20%;
	}
}

@media screen and (max-width: $mobile-max-width) {
	:host {
			jp-pager {
			    ul.jp-pager {
			        display: none!important;
		      }
			}

			.layout-sidebar {
				.left {
					width: 100%;
					flex-basis: 100%;
					flex-direction: column;

					.section-title {
						display: flex;
						flex-direction: row;
						.client-logo {
							margin-left: 24px;
						}
					}
				}
				.right {
					display: none;
				}
			}
	}
}
