:host {
	display: block;
	.gallery-wrapper {
		padding-bottom: 5em;
	}
	.layout-sidebar {
		.right {
			text-align: right;
		}
	}
	jp-pager {
		.jp-pager-nav-container {
			width: 85%;
			left: 7.5%;
			margin-left: 0;
		}
	}
}
