:host {
	.filters-buttonset {
		display: flex;
		flex-direction: row;
		max-width: 100%;
		min-width: 700px;
		margin-left: 16px;
		jp-icon-button {
			width: 25%;
			height: 39px;
		}
	}
	.button-container {
		width: 100%;
		text-align: center;
	}
}