<h1>Test!</h1>

<div class="card">
	<h4 class="card-title">Image Zoom Functionality A</h4>
	<img src="/assets/images/sample-image.jpg" style="max-width: 450px" jp-image-zoom jp-image-zoom-mode="inline" />
</div>

<div class="card">
	<h4 class="card-title">Image Zoom Functionality B (Large)</h4>
	<img src="/assets/images/sample-image.jpg" style="max-width: 450px" jp-image-zoom />
</div>

<div class="card">
	<h4 class="card-title">Image Zoom Functionality B (Small)</h4>
	<img src="/assets/images/sample-image.jpg" style="max-width: 250px" jp-image-zoom />
</div>