:host /deep/ {
  display: block;
  overflow: hidden;
  jp-splash {
  	height: 634px;
    .splash-inner {
      margin-top: $nav-height!important;
    }
  }
  .logo {
    max-width: 131px;
    &.company {
      margin-top: 42px;
    }
    img {
      width: 100%;
    }
  }
  nav {
  	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  }

  section#services {
    .container {
      .flex-row.icon-buttons {
        justify-content: space-between;
        margin-top: 48px;
      }
    }
  }

  #staff {
    .overlay {
      background-size: 80px 26px;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: $blue-translucent;
    }
  }

}