<jp-navbar>
	<a md-button [routerLink]="['/services']" title="Services" disableRipple="true" (click)="navLinkClicked($event)">Services</a>
	<a md-button [routerLink]="['/staff']" title="Leadership" disableRipple="true" (click)="navLinkClicked($event)">Leadership</a>
	<a md-button [routerLink]="['/clients']" title="Clients" disableRipple="true" (click)="navLinkClicked($event)">Clients</a>
</jp-navbar>
<jp-splash [splashUrl]="config.main_site_background.url" align="left">
    <h1 class="text-uppercase">{{ config.main_site_splash_headline }}</h1>
    <div class="splash-body" [innerHTML]="config.main_site_splash_body"></div>
    <div class="logo company">
    	<jp-logo></jp-logo>
  	</div>
</jp-splash>
<section id="services" class="content-start flex-col theme-grey" #start>
	<div class="container">
		<h2 class="section-title text-uppercase">Our Services</h2>
    <div class="flex-row icon-buttons">
	    <jp-balloon class="mdm" [url]="links.mdm">
    		<jp-icon></jp-icon>
    		<jp-icon-hover></jp-icon-hover>
	    	<balloon-text>MDM Solutions</balloon-text>
	    	<balloon-callout>
	    		<jp-balloon-callout-icon class="content-creation" text="MDM Benefits" [url]="links.mdm + '/mdm-benefits'">
	    			<jp-icon></jp-icon>
		    		<jp-icon-hover></jp-icon-hover>
	    		</jp-balloon-callout-icon>
	    		<jp-balloon-callout-icon class="template-building" text="PIM Services" [url]="links.mdm + '/pim-services'">
	    			<jp-icon></jp-icon>
		    		<jp-icon-hover></jp-icon-hover>
	    		</jp-balloon-callout-icon>
	    		<jp-balloon-callout-icon class="catalogs" text="Translations" [url]="links.mdm + '/translations'">
	    			<jp-icon></jp-icon>
		    		<jp-icon-hover></jp-icon-hover>
	    		</jp-balloon-callout-icon>
	    	</balloon-callout>
	    </jp-balloon>

	    <jp-balloon class="publishing" [url]="links.publishing">
    		<jp-icon></jp-icon>
    		<jp-icon-hover></jp-icon-hover>
	    	<balloon-text>Publishing</balloon-text>
	    	<balloon-callout>
	    		<jp-balloon-callout-icon class="traditional-catalogs" text="Traditional Catalogs" [url]="links.publishing + '/traditional-catalogs'">
	    			<jp-icon></jp-icon>
		    		<jp-icon-hover></jp-icon-hover>
	    		</jp-balloon-callout-icon>
	    		<jp-balloon-callout-icon class="project-management" text="Project Management" [url]="links.publishing + '/project-management'">
	    			<jp-icon></jp-icon>
		    		<jp-icon-hover></jp-icon-hover>
	    		</jp-balloon-callout-icon>
	    		<jp-balloon-callout-icon class="translations" text="Translations" [url]="links.publishing + '/translations'">
	    			<jp-icon></jp-icon>
		    		<jp-icon-hover></jp-icon-hover>
	    		</jp-balloon-callout-icon>
	    	</balloon-callout>
	    </jp-balloon>

	    <jp-balloon class="creative" [url]="links.creative">
    		<jp-icon></jp-icon>
    		<jp-icon-hover></jp-icon-hover>
	    	<balloon-text>Creative</balloon-text>
	    	<balloon-callout>
	    		<jp-balloon-callout-icon class="graphic-design" text="Graphic Design" [url]="links.creative + '/graphic-design'">
	    			<jp-icon></jp-icon>
		    		<jp-icon-hover></jp-icon-hover>
	    		</jp-balloon-callout-icon>
	    		<jp-balloon-callout-icon class="branding" text="Branding" [url]="links.creative + '/branding'">
	    			<jp-icon></jp-icon>
		    		<jp-icon-hover></jp-icon-hover>
	    		</jp-balloon-callout-icon>
	    		<jp-balloon-callout-icon class="writing" text="Writing" [url]="links.creative + '/writing'">
	    			<jp-icon></jp-icon>
		    		<jp-icon-hover></jp-icon-hover>
	    		</jp-balloon-callout-icon>
	    		<jp-balloon-callout-icon class="photography" text="Photography" [url]="links.creative + '/photography'">
	    			<jp-icon></jp-icon>
		    		<jp-icon-hover></jp-icon-hover>
	    		</jp-balloon-callout-icon>
	    	</balloon-callout>
	    </jp-balloon>

	    <jp-balloon class="interactive" [url]="links.interactive">
    		<jp-icon></jp-icon>
    		<jp-icon-hover></jp-icon-hover>
	    	<balloon-text>Interactive</balloon-text>
	    	<balloon-callout>
	    		<jp-balloon-callout-icon class="email-marketing" text="Email Marketing" [url]="links.interactive + '/email-marketing'">
	    			<jp-icon></jp-icon>
		    		<jp-icon-hover></jp-icon-hover>
	    		</jp-balloon-callout-icon>
	    		<jp-balloon-callout-icon class="website-development" text="Web Development" [url]="links.interactive + '/web-development'">
	    			<jp-icon></jp-icon>
		    		<jp-icon-hover></jp-icon-hover>
	    		</jp-balloon-callout-icon>
	    		<jp-balloon-callout-icon class="mobile-apps" text="Mobile Applications" [url]="links.interactive + '/mobile-applications'">
	    			<jp-icon></jp-icon>
		    		<jp-icon-hover></jp-icon-hover>
	    		</jp-balloon-callout-icon>
	    	</balloon-callout>
	    </jp-balloon>
    </div>
	</div>
</section>

<section id="work" class="flex-col">
	<div class="container">
		<h2 class="section-title text-right text-uppercase">Our Work</h2>
		<div class="content"
				*ngIf="work"
				(swipeLeft)="swipeLeftProjects($event)"
				(swipeRight)="swipeRightProjects($event)"
				#projects>
	    	<jp-card *ngFor="let item of work.projects | slice: 0 : workLimit"
	    		[cardTitle]="item.title"
	    		[subTitle]="item.client?.name"
	    		[image]="item.image.url"
	    		[route]="['/work/' + item.uri]"
	    		class="cell">
    		</jp-card>
		</div>
		<jp-pager class="wide" [currentPage]="workIndex" [totalPages]="workTotal" [pagerType]="'minimal'" (pageChanged)="fetchWork($event)" [includeNav]="true"></jp-pager>
	</div>
</section>

<section id="staff" class="theme-dark">
	<div class="container">
		<h2 class="section-title text-uppercase">Our Leadership</h2>
		<div class="content" *ngIf="staff">
		    <jp-card *ngFor="let person of staff"
		    class="cell"
				[cardTitle]="person.first_name + ' ' + person.last_name"
				[subTitle]="person.title"
				[image]="person.image?.url"
				[summary]="person.bio"
				jpHoverDynamicsMobile
				[overlay]="true"
				(clicked)="launchStaffModal(person)">
					<md-icon>pageview</md-icon>&nbsp;&nbsp;Details
			</jp-card>
		</div>
	</div>
</section>

<section id="clients" [jpBackground]="'assets/images/banner-clients.jpg'">
	<div class="container">
		<h2 class="section-title text-right text-uppercase">Our Clients</h2>
		<md-grid-list [cols]="clientCols" gutterSize="8px" rowHeight="1:1" *ngIf="clients">
		  <md-grid-tile *ngFor="let client of clients">
		  	<img [alt]="client" [title]="client.name" [src]="client.image?.url" />
		  </md-grid-tile>
		</md-grid-list>
	</div>
</section>

<section id="blog">
	<div class="container">
	  <h2 class="section-title text-uppercase">Our Blog <a md-button md-icon-button [href]="rssBlogFeedUrl" class="rss" title="Subscribe to our RSS feed"><md-icon>rss_feed</md-icon></a></h2>
	  <div class="content" *ngIf="blogs">
	    <jp-card *ngFor="let blog of blogs.blogs"
	    	class="cell"
	    	[image]="blog.image.url"
	    	[cardTitle]="blog.title"
	    	[summary]="blog.summary"
	    	[body]="blog.body"
	    	[date]="blog.created_at"
	    	[tag]="blog.divisions[0].display_name ? blog.divisions[0].display_name : blog.divisions[0].name"
	    	[author]="blog.author?.full_name"
	    	[route]="['/blogs/' + blog.uri]"
	    	theme="post">
			</jp-card>
	    <button md-button class="inverted-button boxy-button" [routerLink]="['/blogs']">Load More Blogs</button>
	    <a [routerLink]="['/subscribe']" class="clear-link">Subscribe to our mailing list</a>
	  </div>
	</div>
</section>

<section id="contact" [jpBackground]="'assets/images/banner-lines.jpg'" class="theme-dark">
	<div class="container">
	  <h2 class="section-title text-uppercase text-right">Contact Us</h2>
	  <jp-contact-form (formSubmitSuccess)="formSubmitSuccess($event)"></jp-contact-form>
  </div>
</section>

<section id="directions" class="theme-dark" [jpBackground]="'assets/images/map.jpg'">
  <jp-map></jp-map>
</section>

<jp-footer></jp-footer>

<router-outlet></router-outlet>