@import "bootstrap-sass/assets/stylesheets/bootstrap";

.light {
  font-weight: 300;
}

/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: $source-sans-pro;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5 {
  font-family: $proxima-nova;
}

h3 {
  font-size: 18px;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 22px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

input {
  border: 1px solid $blue;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 8px;
}

button,
button[md-button],
button[md-raised-button] {
  font-family: $source-sans-pro;
  position: relative;
  .md-ripple-foreground {
    max-height: 100%;
  }
}

button {
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
}

button:hover {
  background-color: #28739e;
}

.inverted-button,
[md-button].inverted-button {
  border: 1px solid $blackish;
  background: #fff;
  padding: 0 40px;
  line-height: 30px;
  height: 30px;
  @include border-radius(0);
  span {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: $text-color;
  }
  @include transition(background $transition_duration linear);
  &:hover {
    background: $text-color;
    span { color: $white_trans; }
  }
  &[disabled] {
    opacity: 0.2;
    &:hover {
      background: initial!important;
    }
  }
}

.md-placeholder-required {
  color: $red_500;
}

.form-group.full {
  width: 100%;
  label {
    display: block;
  }
}
.wide,
.grid-wide {
  width: 1160px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.filler {
  flex: 1 1 auto;
}

.layout-sidebar {
  display: flex;
  flex-direction: row;
  .left {
    flex-basis: 75%;
    width: 75%;
    flex-shrink: 0;
  }
  .right {
    flex-basis: 20%;
    flex-shrink: 0;
    width: 20%;
  }
}

.layout-tworows-sidebar {
  display: flex;
  flex-direction: column;
  .top-row {
    display: flex;
    flex-direction: row;
    .left {
      width: 75%;
      flex-basis: 75%;
    }

    .right {
      width: 20%;
      flex-basis: 20%;
      text-align: right;
    }
  }
  .bottom-row {
    display: flex;
    flex-direction: column;
    .content {
      flex-direction: row;
    }
  }
}

.icon-buttons {
  justify-content: space-between;
  width: 100%;
}

jp-app {
  position: relative;
  display: block;
}

.section-title {
  font-size: 42px;
  font-weight: 300;
  font-family: $proxima-nova;
  margin: 0 0 1em;
}

section,.section-padding {
  padding: 130px 0;
}

section {
  position: relative;
}

.content {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  .cell {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 16px;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.theme-dark,
section.theme-dark {
  background: $blackish;
  .section-title,
  p,
  a,
  div,
  h3,
  h4 {
    color: $white_trans;
  }

  .inverted-button,
  [md-button].inverted-button {
    background: transparent;
    border-color: $white_trans;
    span {
      color: $white_trans;
    }
    &:hover {
      background: $white;
      span {
        color: $text-color;
      }
    }
    &[disabled]:hover {
      span {
        color: $white_trans;
      }
    }
  }
}

#projects
{
  jp-pager {
    margin: 0;
    ul.jp-pager {
      display: none;
    }
  }
}

#contact
{
  padding-bottom: 175px;
  .section-title {
    margin-top: 15px;
  }
}

#directions {
  position: relative;
  min-height: 146px;
  padding: 0;
  -webkit-transition: all false false,.15s false false,ease-in-out false false;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  &.expanded {
    min-height: 438px;
  }
}

footer {
  width: 100%;
  min-height: 270px;
  padding: 80px 0px 0px;
  position: relative;
  text-align: center;
  h3 {
    font-size: 1.17em;
    margin-bottom: 1em;
  }
  p {
    font-size: 12px;
    letter-spacing: .020em;
    margin: 0;
    line-height: normal;
  }
  jp-social-icons {
    md-toolbar,md-toolbar.transparent {
      [md-button],[md-button]:not(.md-primary) {
        md-icon {
          color: $white_trans;
        }
      }
    }
  }
}

/**
 * Content Overlay
 */

jp-content-overlay
{
  z-index: 999!important;
  background-color: #fff!important;
  section {
    padding-top: 4.188em;
  }
  md-content,[md-button] {
    background: transparent;
  }
  .md-inverted-button[md-button] {
    background: transparent!important;
  }
}

.infinite-scroll-finished {
  width: 100%;
  margin-top: 4em;
  text-align: center;
  md-icon {
    margin: 0 0 5px 0;
  }
}

body.scroll-disabled {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
}