@media screen and (max-width: $mobile-max-width) {
    body {
        -webkit-user-select: none;
        -webkit-text-size-adjust: none;
        margin: 0;

        &.scroll-disabled {
            #wrapper {
                width: 100%;
            }
        }
    }

    footer {
        text-align: center;
    }

    .hide-mobile {
        display: none;
    }

    .mobile {
        display: block;
    }

    .subheader {
        padding-top: 40px;
    }

    form.jp-form.ng-submitted {
        md-input-container {
            .ng-untouched + ng-messages {
                display: flex;
            }
        }
    }

    jp-home {
        & > jp-splash {
            display: none !important;
        }
    }

    img {
        max-width: 100%;
    }

    nav {
        min-height: $nav_height;

        .mobile-menu-trigger {
            margin-left: 3em;
        }

        .icon-menu {
            jp-icon-button {
                .md-button {
                    .icon-container {
                        img {
                            position: absolute;
                            width: 20px;
                            height: 20px;
                            left: 10px;
                            top: 35px;
                        }
                    }
                }

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        & + section {
            padding-top: calc($nav_height + 3em);
        }
    }

    section, 
    .section-padding,
    .layout-tworows-sidebar {
        padding: 4em 0;

        .top-row {
            .left,.right {
                flex-shrink: 0;
                flex-basis: 100%;
                width: 100%;
                margin: 0;
            }
        }
    }

    .section-title {
        font-size: 28px!important;
    }

    .grid, .grid-wide {
        box-sizing: border-box;
    }

    .jp-form {
        md-input-container,
        md-input-container.flex-50,
        md-input-container.flex-100 {
            &.md-input-focused,
            &.md-input-has-value {
                label {
                    font-size: 14px;
                    top: -20px!important;
                }
            }

            flex: 1 1 100%;
            max-width: 100%;
            margin: 0 0 1em;

            &:nth-child(2n) {
                flex: 1 1 100%;
                max-width: 100%;
                margin-left: 0;
            }

            .ng-untouched + ng-messages {
                display: none;
            }
        }
    }

    #wrapper {
        display: block;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }

    .layout-tworows-sidebar {
        .top-row {
            //flex-direction: column;
        }
        .left, .right {
            width: 100%;
            flex: none;
            clear: none;
            display: block;
        }

        .right {
            margin: 0 !important;
        }
    }

    #projects {
        jp-pager {
            margin: 0;

            ul.jp-pager {
                display: flex;
            }
            .jp-pager-nav-container {
                display: none;
            }
        }
    }

    .content {
        .cell {
            width: 100%;
        }
    }
}