@media screen and (max-width: $mobile-max-width) {
    body {
        -webkit-user-select: none;
        -webkit-text-size-adjust: none;
        margin: 0;

        &.scroll-disabled {
            #wrapper {
                width: 100%;
            }
        }
    }

    jp-mobile-menu,
    jp-mobile-menu-trigger {
        display: block;
    }

    footer {
        text-align: center;
    }

    .hide-mobile {
        display: none;
    }

    .mobile {
        display: block;
    }

    .subheader {
        padding-top: 40px;
    }

    form.jp-form.ng-submitted {
        md-input-container {
            .ng-untouched + ng-messages {
                display: flex;
            }
        }
    }

    jp-home {
        & > jp-splash {
            //display: none !important;
            height: auto!important;
            .splash {
                .splash-inner {
                    width: calc(100% - 20px)!important;
                    justify-content: center!important;
                    h1 {
                        font-size: 24px!important;
                        width: 100%!important;
                        max-width: 100%!important;
                        text-align: center;
                    }
                    p {
                        font-size: 12px!important;
                        width: 100%!important;
                        max-width: 100%!important;
                        text-align: center;
                    }
                }
            }
        }
    }

    img {
        max-width: 100%;
    }

    nav {
        min-height: $nav_height;

        .mobile-menu-trigger {
            margin-left: 3em;
        }

        .icon-menu {
            jp-icon-button {
                .md-button {
                    .icon-container {
                        img {
                            position: absolute;
                            width: 20px;
                            height: 20px;
                            left: 10px;
                            top: 35px;
                        }
                    }
                }

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        & + section {
            padding-top: calc($nav_height + 3em);
        }
    }

    section, 
    .section-padding,
    .layout-tworows-sidebar {
        padding: 4em 0;

        .top-row {
            .left,.right {
                flex-shrink: 0;
                flex-basis: 100%;
                width: 100%;
                margin: 0;
            }
        }
    }

    .section-title {
        font-size: 28px!important;
    }

    .grid, .grid-wide {
        box-sizing: border-box;
    }

    .jp-form {
        md-input-container,
        md-input-container.flex-50,
        md-input-container.flex-100 {
            &.md-input-focused,
            &.md-input-has-value {
                label {
                    font-size: 14px;
                    top: -20px!important;
                }
            }

            flex: 1 1 100%;
            max-width: 100%;
            margin: 0 0 1em;

            &:nth-child(2n) {
                flex: 1 1 100%;
                max-width: 100%;
                margin-left: 0;
            }

            .ng-untouched + ng-messages {
                display: none;
            }
        }
    }

    #wrapper {
        display: block;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }

    .layout-tworows-sidebar {
        .top-row {
            //flex-direction: column;
        }
        .left, .right {
            width: 100%;
            flex: none;
            clear: none;
            display: block;
        }

        .right {
            margin: 0 !important;
        }
    }

    #projects {
        jp-pager {
            margin: 0;

            ul.jp-pager {
                display: flex;
            }
            .jp-pager-nav-container {
                display: none;
            }
        }
    }

    .content {
        .cell {
            width: 100%;
        }
    }

    .flex-row.icon-buttons {
        // flex-direction: column;
        flex-wrap: wrap;
        jp-balloon {
            flex-basis: 50%;
            // width: 100%;
            .balloon {
                width: 110px;
                height: 110px;
                background-color: $blue!important;
                margin-left: auto!important;
                margin-right: auto!important;
                .icon-container {
                    width: 43px!important;
                    height: 43px!important;
                }
                jp-icon {
                    opacity: 1!important;
                }
                jp-icon,
                jp-icon-hover {
                    background-image: url('../assets/images/balloon-icons-mdm-mobile.png')!important;
                }
                jp-icon-hover {
                    opacity: 0!important;
                    background-position-y: -53px!important;
                }
                balloon-text {
                    font-size: 14px!important;
                    top: calc(100% + 12px)!important;
                    opacity: 1!important;
                    color: $blackish!important;
                    white-space: nowrap;
                }
                &::after {
                    display: none!important;
                }
            }
            balloon-callout {
                display: none!important;
            }
            .balloon-callout-text {
                opacity: 0!important;
                margin-bottom: 16px!important;
            }
            &.publishing {
                .balloon {
                    jp-icon,
                    jp-icon-hover {
                        background-position-x: -65px!important;
                    }
                }
            }
            &.creative {
                .balloon {
                    .icon-container {
                        width: 39px!important;
                    }
                    jp-icon,
                    jp-icon-hover {
                        background-position-x: -108px!important;
                    }
                }
            }
            &.interactive {
                .balloon {
                    jp-icon,
                    jp-icon-hover {
                        background-position-x: -147px!important;
                    }
                }
            }
            &.mdm {
                .balloon {
                    .icon-container {
                        width: 64px!important;
                    }
                    // jp-icon-hover {
                    //     background-position: 0px -35px!important;
                    // }
                }
            }
        }
    }

    .form-actions {
        button {
            width: 100%;
        }
    }

    footer {
        padding-bottom: 80px!important;
    }
}